* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@import "https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i&subset=cyrillic";
@import "https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic";

body {
  width: 100vw;
  height: 100vh;
  min-width: 996px;
}

.gallery {
  height: 100%;
  width: 100%;
  min-width: 996px;
}

.galleryFrame {
  height: 100vh;
  width: 100%;
  transform: scale(0.7);
  overflow: scroll;
  /*padding: 10px;*/
}

.galleryRail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  width: calc((100vh - 100px) * 5 - 50vh);
  height: 100vh;
  }

.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: calc((100% - 50px) * 1,5);
  height: calc(100% - 50px);
}

.big {
  height: calc(100vh - 100px);
  width: calc(100vh - 100px);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: : calc(100vh - 100px);
}

.small {
  width: calc((100vh - 100px) / 2);
  height: calc((100vh - 100px) / 2);
}

figure:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 20px 0 #000000;
  /*border-width: 3px;
  border-color: #000000;*/
  transition: all .1s ease;
}
