* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@import "https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i&subset=cyrillic";
@import "https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic";

body {
  width: 100vw;
  height: 100vh;
  /*min-width: 996px;*/
}

.galleryRail {
  /*margin-top: 50px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*overflow: hidden;*/
  align-items: flex-end;

  width: calc((100vh - 100px) * 5 - 50vh);
  height: 100vh;
  }

.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: calc((100% - 50px) * 1,5);
  height: calc(100% - 50px);
}

.big {
  /*background-color: red;*/
  height: calc(100vh - 100px);
  width: calc(100vh - 100px);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: : calc(100vh - 100px);
}

.small {
  width: calc((100vh - 100px) / 2);
  height: calc((100vh - 100px) / 2);
}

.s1 {
  background-color: blue;
}

.s2 {
  background-color: yellow;
}


@media handheld and (max-width: 600px) {
  .galleryRail {
    height: calc((150vw) * 3);
    width: 100vw;
    margin: auto;
    flex-direction: column;
  }

  .page {
    flex-direction: column;
    height: 150vw;
    width: 100vw;
  }

  .big {
    height: calc(100vw);
    width: calc(100vw);
  }

  .small {
    width: 50vw;
    height: 50vw;
  }

  .column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50vw;
  }
}
