* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@import "https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i&subset=cyrillic";
@import "https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic";

body {
  width: 100vw;
  height: 100vh;
  /*min-width: 996px;*/
}

.gallery {
  width: 70vw;
  height: 70vh;
  margin-top: 15vh;
  margin-left: 15vw;
}

.galleryRail {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*overflow: hidden;*/
  align-items: flex-end;

  width: 100%;
  height: 100%;
  }

.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.big {

}

.column {

}

.small {

}

.s1 {
  background-color: blue;
}

.s2 {
  background-color: yellow;
}
